<!DOCTYPE html>
<html lang="pt-br">
<%- include('./head.ejs') %>
<body>
    <h1>Users</h1>

    <ul>
        <% users.forEach((user) => { %>
            <% if(user.enabled) { %>
        <li>
            <strong>Id: </strong><%= user.id %><br>
            <strong>Name: </strong><%= user.name %>
        </li>
            <% }; %>
        <% }); %>
    </ul>
</body>
</html> 